<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/index.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="content" class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" id="tokenInputField" class="form-control"
                        placeholder="Room Token ex: c292fa67-8715-4afc-851b-71671e8ddd35">
                    <button id="joinRoomBtn" class="btn btn-success btn-md btn-block">Join Room</button>
                </div>
                <div>
                    <button id="createRoomBtn" class="btn btn-success btn-md btn-block">Create Room</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</body>
<script>
    const joinRoomBtn = document.getElementById('joinRoomBtn');
    const createRoomBtn = document.getElementById('createRoomBtn');

    const tokenInputField = document.getElementById('tokenInputField');

    // Fetch room token from server
    function getToken(){
        axios.get('http://localhost:8080/room/createRoom').then(response => {
            localStorage.setItem('roomToken', response.data.roomToken);
            window.location.replace(`http://localhost:8080/room/${response.data.roomToken}`);
        })
    }

    // Create room event listener
    createRoomBtn.addEventListener('click', event => {
        getToken();
    });

    // Join room event listener
    joinRoomBtn.addEventListener('click', (event) => {
        joinRoom();
    })

    // Join room button handler
    function joinRoom() {
        let roomToken = tokenInputField.value;

        axios.get('http://localhost:8080/room/join', {
            roomToken: roomToken
        }).then(response => {
            localStorage.setItem('roomToken', roomToken);
            window.location.replace(`http://localhost:8080/room/join/${roomToken}`);
        })
    }

</script>
</html>
