<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
</head>

<body>
    <h1>Room Page</h1>
    <div class="container" id="canvas">
        <video autoplay="true" id="videoElement"></video>
    </div>
</body>
<script>

    const socket = io();
    const peer = new Peer(undefined, {
        host: '/',
        port: 9000,
    });

    let currStream;

    /* Connection to PeerServer is established */
    peer.on('open', userId => {
	join(userId);
    })

    /* Getting own video stream */
    async function join(userId) {
        const videoEl = document.getElementById('videoElement');

        if (navigator.mediaDevices.getUserMedia) {
	    try{
		let stream = await navigator.mediaDevices.getUserMedia({ video: true })
		videoEl.srcObject = stream;
		peer.call(localStorage.getItem('roomToken'), stream);
	    }catch(err){
		console.log('there was an error');
	    }
	}else{
	    console.log('No media');
	}
    }

    // Recieving a call from a peer
    peer.on('call', (call) => {
        call.answer();
        call.on('stream', (stream) => {
            createVideoElement(stream, call.peer);
        })
    })

    /* Create video element for guest */
    function createVideoElement(stream, peerId) {
	const canvasEl = document.getElementById('canvas');
        let videoEl = document.createElement('video');
        videoEl.autoplay = true;
        videoEl.srcObject = stream;

	let peerIdEl = document.createElement('h3');
	peerIdEl.innerHTML = peerId;

        canvasEl.appendChild(peerIdEl);
        canvasEl.appendChild(videoEl);
    }

    
</script>

</html>
