<html>

<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/room.css">
</head>

<body>
    <h3 class="text-center">Room: <span id="roomToken"></span></h3>
    <div class="container" id="canvas">
        <video autoplay="true" id="videoElement"></video>
    </div>
</body>
<script>

    // Displaying room token
    const roomTokenSpan = document.getElementById('roomToken');
    roomTokenSpan.textContent = localStorage.getItem('roomToken');

    const socket = io();
    const peer = new Peer(localStorage.getItem('roomToken'), {
        host: '/',
        port: 9000,
    });

    let streamObj;
    localStorage.setItem('players', 1);

    /* Connection to a PeerServer is established */
    peer.on('open', userId => {
        createRoom(userId);
    })

    /* Recieving a call for peer */
    peer.on('call', (call) => {
	call.answer();
	call.on('stream', (remoteStream) => {
	    // Show stream in canvas
	    createVideoElement(remoteStream, call.peer);
	})
	peer.call(call.peer, streamObj);
    })

    /* Create video Element for players */
    function createVideoElement(stream, peerId) {
        const canvasEl = document.getElementById('canvas');
        let videoEl = document.createElement('video');
        videoEl.autoplay = true;
        videoEl.srcObject = stream;

	let peerIdEl = document.createElement('p');
	peerIdEl.innerText = peerId;

        canvasEl.appendChild(peerIdEl);
        canvasEl.appendChild(videoEl);
    }

    /* Create video element for user */
    async function createRoom(userId) {
        const videoEl = document.getElementById('videoElement');

        if (navigator.mediaDevices.getUserMedia) {
            let stream = await navigator.mediaDevices.getUserMedia({ video: true })
	    streamObj = stream;
	    videoEl.srcObject = stream;
	}else{
	    console.log('No media');
	}
    }

</script>

</html>
